name: linting & test coverage

on:
  push:
    branches:
      - main
  pull_request:

env:
  CI: true
  NODE_LATEST: 24.x

defaults:
  run:
    shell: bash

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20.x
          - 24.x
        platform:
          - ubuntu-latest

    runs-on: ${{matrix.platform}}

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node-version}}
      - run: npm install
      - run: npm run build
      - run: npm run lint
        if: matrix.platform == 'ubuntu-latest' && matrix.node-version == env.NODE_LATEST
      - run: npm run depcruise
      - run: npm test
